modules = ["nodejs-20", "web", "python-base-3.13"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://ufmuhwepyxzaldvcbipd.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmbXVod2VweXh6YWxkdmNiaXBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjgyNjAsImV4cCI6MjA5NTU0NDI2MH0.IsfvrR37yHihi-IkjeahECn-Tb72bpf72yAyJk5LfIw"
VITE_STREAM_API_KEY = "awspcvfkzuq7"
VITE_LIVEKIT_WS_URL = "wss://smartzconnect-1x6zgpbq.livekit.cloud"
VITE_ONESIGNAL_APP_ID = "2a4c4dfe-4c4a-40d4-af09-ae1befc42c2b"
VITE_STREAM_APP_ID = "1630966"
VITE_SUFY_BUCKET_NAME = "smartzstorage"
VITE_SUFY_BUCKET_REGION = "us-south-1"
VITE_SUPABASE_PROJECT_ID = "ufmuhwepyxzaldvcbipd"
VITE_LIVEKIT_URL = "wss://smartzconnect-1x6zgpbq.livekit.cloud"
SUPABASE_DB_HOST = "aws-0-eu-west-1.pooler.supabase.com"
SUPABASE_DB_NAME = "postgres"
SUPABASE_DB_PORT = "6543"
SUPABASE_DB_USER = "postgres.ufmuhwepyxzaldvcbipd"
